@using libapp.ViewModel;
@model IEnumerable<CustomerViewModel>

<a asp-controller="Customer" asp-action="Create">Create new customer</a>

<table border="1" cellpadding="2" cellspacing="2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Borrowed books count</th>
            <th>Edit customer</th>
            <th>Delete customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customerVM in Model)
        {
            <tr>
                <td>@customerVM.Customer.CustomerId</td>
                <td>@customerVM.Customer.Name</td>
                <td>@customerVM.BookCount</td>
                <td>
                    <a asp-controller="Customer" asp-action="Update" asp-route-id="@customerVM.Customer.CustomerId">Update</a>
                </td>
                <td>
                    <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customerVM.Customer.CustomerId">Delete</a>
                </td>

            </tr>

        }
    </tbody>
</table>